# Visual Studio files
﻿.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code files
.vscode/
*.code-workspace

# Build output
bin/
obj/

*.exe
*.dll
*.pdb

# NuGet
packages/
*.nupkg
*.pdb

# Test results
TestResults/

# SpecFlow
TestExecutionReports/

# Allure
AllureResults/

# Selenium
Drivers/